.logout-text {
    position: fixed;
    transform: rotate(-90deg);
}

.upload-icon {
    cursor: pointer;
    background: transparent;
    height: 30%; 
    width: 50%;
    transition: width 0.3s ease; 
}

.upload-icon:hover {
    width: 60%;
}

.upload-input {
    width: 50%; 
    height: 30px; 
    margin: 20px;
    background-color: transparent;
    padding: 5px;
    transition: width 0.3s ease; 
}

.upload-input:hover {
    width: 60%;
}

.gallery-div {
    cursor: pointer;
}

.gallery-image {
    width: 80%;
    transition: width 0.3s ease; 
}

.gallery-div:hover .gallery-image {
    width: 60%; /* Decrease the width on hover */
}

.gallery-text {
    position: absolute;
    bottom: 20%;
    transition: bottom 0.3s ease, font-size 0.3s ease; 
}

.gallery-div:hover .gallery-text {
    font-size: 2.2em; /* Increase the font size on hover */
    bottom: 25%;
}


.reset-text {
    cursor: pointer;
}